<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dan Schointuch / Semimagic</string>
	<key>CFBundleDisplayName</key>
	<string>WP Toolbar</string>
	<key>CFBundleIdentifier</key>
	<string>com.semimagic.wptoolbar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>button</string>
				<key>Image</key>
				<string>book2.png</string>
				<key>Label</key>
				<string>WP Toolbar</string>
				<key>Palette Label</key>
				<string>WP Toolbar</string>
				<key>Tool Tip</key>
				<string>Toggle WP Toolbar</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Overlays a WordPress administrator toolbar on any page for instant access to your blog's backend.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://danls.github.com/manifest.plist</string>
	<key>Website</key>
	<string>http://www.semimagic.com/</string>
</dict>
</plist>
